@model IQueryOptionMvc<object>
@{
    Layout = null;
}
@using (Html.BeginForm(Model.ActionName, Model.ControllerName, Model.RouteValues, FormMethod.Post, new { @class = "paged-query-form" }))
{
    <div class="col-sm-12 col-md-10 col-md-offset-1 pt-20">
        @if (IsSectionDefined("QueryTerms"))
        {

            @RenderSection("QueryTerms", false)

        }
        @RenderBody()
        @if (Model.Results.IsNullOrEmpty())
        {
            <div class="empty-msg">無資料</div>
        }
    </div>
    <div class="clearfix"></div>

}