.home-create .modal-lg > .modal-content {
  width: 900px; }

@media (min-width: 992px) {
  .home-create .modal-lg {
    max-width: 1024px; } }

@media (min-width: 576px) {
  .home-create .modal-sm {
    max-width: 300px; } }

.home-create .content-from {
  height: auto;
  max-height: 700px; }

.home-create table.table-preview {
  margin: 0 auto;
  width: 100%;
  min-width: 60%; }
  .home-create table.table-preview tr td, .home-create table.table-preview tr th {
    border: 1px solid black;
    text-align: center; }
  .home-create table.table-preview tr th.direction {
    width: 5%; }
  .home-create table.table-preview tr th.time {
    width: 10%; }
  .home-create table.table-preview tr th.count {
    width: 6%; }

.home-create table.table-fiveway-preview {
  margin: 0 auto;
  width: 100%;
  min-width: 60%; }
  .home-create table.table-fiveway-preview tr td, .home-create table.table-fiveway-preview tr th {
    border: 1px solid black;
    text-align: center; }
  .home-create table.table-fiveway-preview tr th.direction {
    width: 5%; }
  .home-create table.table-fiveway-preview tr th.time {
    width: 7%; }
  .home-create table.table-fiveway-preview tr th.count {
    width: 4%; }

