.home-create .modal-content {
  width: 810px; }

.home-create table.table-preview {
  min-width: 60%; }
  .home-create table.table-preview tr td, .home-create table.table-preview tr th {
    border: 1px solid black;
    text-align: center; }
  .home-create table.table-preview tr th.direction {
    width: 5%; }
  .home-create table.table-preview tr th.time {
    width: 10%; }
  .home-create table.table-preview tr th.count {
    width: 6%; }

