.home-create {
    .modal-lg > .modal-content {
        width: 900px;
    }

    @media (min-width: 992px) {
        .modal-lg {
            max-width: 1024px;
        }
    }

    @media (min-width: 576px) {
        .modal-sm {
            max-width: 300px;
        }
    }

    .content-from {
        height: auto;
        max-height: 700px;
    }

    table.table-preview {
        margin: 0 auto;
        width: 100%;
        min-width: 60%;

        tr {
            td, th {
                border: 1px solid black;
                text-align: center;
            }

            th.direction {
                width: 5%;
            }

            th.time {
                width: 10%;
            }

            th.count {
                width: 6%;
            }
        }
    }

    table.table-fiveway-preview {
        margin: 0 auto;
        width: 100%;
        min-width: 60%;

        tr {
            td, th {
                border: 1px solid black;
                text-align: center;
            }

            th.direction {
                width: 5%;
            }

            th.time {
                width: 7%;
            }

            th.count {
                width: 4%;
            }
        }
    }
}