	<!--Content-->
<div class="content-form">

    <div class="col-sm-12 col-md-10 col-md-offset-1 pt-20">

        <div class="panel panel-primary div-SearchBar">
            <!--查詢條件-->
            <div class="panel-heading"><a data-toggle="collapse" href="#collapseSearchTool" aria-expanded="false" class="collapse-toggle" style="text-decoration:none;"><span class="panel-table-title">調查資料查詢</span></a></div>
            <div class="panel-body collapse in" id="collapseSearchTool">

                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label for="" class="col-xs-12 col-md-3 control-label">行政區</label>
                        <div class="col-xs-12 col-md-9">
                            <select class="form-control">
                                <option>請選擇</option>
                                <option>桃園區</option>
                                <option>中壢區</option>
                                <option>平鎮區</option>
                                <option>龍潭區</option>
                                <option>楊梅區</option>
                                <option>新屋區</option>
                                <option>觀音區</option>
                                <option>龜山區</option>
                                <option>八德區</option>
                                <option>大溪區</option>
                                <option>大園區</option>
                                <option>蘆竹區</option>
                                <option>復興區</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <label for="" class="col-xs-12 col-md-3 control-label">調查型態</label>
                        <div class="col-xs-12 col-md-9">
                            <select class="form-control">
                                <option>請選擇</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <label for="" class="col-xs-12 col-md-3 control-label">建置年度</label>
                        <div class="col-xs-12 col-md-9">
                            <select class="form-control">
                                <option>請選擇</option>
                                <option>106</option>
                                <option>105</option>
                                <option>104</option>
                                <option>103</option>
                                <option>102</option>
                                <option>101</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <label for="" class="col-xs-12 col-md-3 control-label">關鍵字</label>
                        <div class="col-xs-12 col-md-9">
                            <input type="text" class="form-control" id="" placeholder="   請輸入關鍵字">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group mt-10">
                    <div class="col-xs-12 col-md-4 col-md-offset-2 mt-10">
                        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-search"></span> 查詢</button>
                    </div>
                    <div class="col-xs-12 col-md-4 mt-10">
                        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-remove"></span> 清除</button>
                    </div>
                </div>
            </div>
        </div><!--//查詢條件-->

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <span class="panel-table-title">調查資料列表</span>
                <a href="add.html" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> 新增</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered data-table">
                    <thead>
                        <tr>
                            <th>編號</th>
                            <th>路口名稱</th>
                            <th>行政區</th>
                            <th>調查型態</th>
                            <th>調查日期</th>
                            <th>資料建置日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>
                                <a href="add.html" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span> 編輯</a>
                                <a href="#" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#Modal-Delete"><span class="glyphicon glyphicon-trash"></span> 刪除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>
                                <a href="add.html" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span> 編輯</a>
                                <a href="#" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#Modal-Delete"><span class="glyphicon glyphicon-trash"></span> 刪除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>
                                <a href="add.html" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span> 編輯</a>
                                <a href="#" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#Modal-Delete"><span class="glyphicon glyphicon-trash"></span> 刪除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>
                                <a href="add.html" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span> 編輯</a>
                                <a href="#" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#Modal-Delete"><span class="glyphicon glyphicon-trash"></span> 刪除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer clearfix">
                <nav style="text-align:center;">
                    <ul class="pagination pagination-sm mtb-0">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div><!--//Content-->